{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

	<h2>Upcoming Hikes</h2>
	<h1>{{ hike.title }}</h1>
	{% if user != hike.organizer and not has_pending_request and not is_participant and not has_been_rejected %}
	    <form method="post" action="{% url 'request_to_join_hike' hike.id %}">
		{% csrf_token %}
		<button type="submit">Request to Join</button>
	    </form>
	{% endif %}
	{% if request.user == hike.organizer %}
	    <h2>Pending Join Requests</h2>
	    {% for join_request in hike.join_requests.all %}
		{% if join_request.status == "pending" %}
		    <p>
			{{ join_request.user.username }}

			<form method="post" action="{% url 'approve_join_request' join_request.id %}">
			    {% csrf_token %}
			    <button type="submit">Approve</button>
			</form>

			<form method="post" action="{% url 'reject_join_request' join_request.id %}">
			    {% csrf_token %}
			    <button type="submit">Reject</button>
			</form>
		    </p>
		{% endif %}
	    {% endfor %}
	{% endif %}
	<p><strong>Organizer:</strong> {{ hike.organizer.username }}</p>
	<p><strong>Location:</strong> {{ hike.location }}</p>
	<p><strong>Date:</strong> {{ hike.date }}</p>
	<p><strong>Time:</strong> {{ hike.time }}</p>
	<p><strong>Pace:</strong> {{ hike.get_pace_display }}</p>
	<p><strong>Experience:</strong> {{ hike.get_recommended_experience_display }}</p>
	<p><strong>Mileage:</strong> {{ hike.mileage }}</p>
	<p><strong>Elevation Gain:</strong> {{ hike.elevation_gain }} ft</p>
	<p><strong>Visibility:</strong> {{ hike.get_visibility_display }}</p>

	{% if hike.description %}
		<p><strong>Description:</strong> {{ hike.description }}</p>
	{% endif %}

	{% if hike.max_participants %}
		<p><strong>Max Participants:</strong> {{ hike.max_participants }}</p>
	{% endif %}

	{% if request.user == hike.organizer %}
		<a href="{% url 'edit_hike' hike.id %}">Edit hike</a>
		<form method="post" action="{% url 'delete_hike' hike.id %}">
			{% csrf_token %}
			<button type="submit">Delete hike</button>
		</form>
	{% endif %}
{% endblock %}
